body {
    margin: 0;
    background: rgb(98, 98, 143);
}

h1 {
    text-align: center;
}

#allData {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    width: 60%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-style: double;
}

.container-image { 
    margin: 0.1rem; 
    width: 90%;
}

.textContainerDiv {
    padding-top: 0.5rem;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 5rem;
    margin: 1rem;
}

li {
    pointer-events: none 
}

#container {
    margin: 1rem;
    padding: 1rem;
    border-style: dotted;
}

.highlighted {
    background-color: blueviolet;
}

#editUser {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#newUser {
    display: none;
    align-items: center;
    justify-content: center;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#expand{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
}

#filler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(175, 175, 175);
}

#exImg {
    width: 50%;
}